<h2 style="text-align: center; margin-bottom: 20px;">@Model.Name</h2>
<div align="center">
    <img src=@Model.Link>
    <ul class="cbp-rfgrid">
        @foreach (WardrobeApp.Models.Photo p in ViewBag.Photos)
        {
            <li>
                <a>
                    <img src=@p.Link>
                    <div>
                        <h3>
                            @p.Category
                        </h3>
                    </div>
                </a>
            </li>
        }
    </ul>
</div>
